@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


html,
body {
    width: 500px;
    height: 200px;
    /* background-color: red; */
    background-color: #e7e7e7;
    max-width: 500px;
    overflow-x: hidden;
}

html.active,
body.active {
    height: 500px;
    width: 500px;
}

html.keygen,
body.keygen {
    height: 300px !important;
    width: 500px !important;
}
html.decrypt,
body.decrypt {
    height: 400px !important;
    width: 500px !important;
}

.alert {
    padding: .7rem .5rem;
    margin: .5rem 0;
    border-radius: .3rem;

}

.alert.alert-success {
    background-color: #59a059;
    color: #1c3b1c;

}

.alert.alert-error {
    background-color: #a05959;
    color: #3b1c1c;
}
.container {
    padding: 1rem;
}

.h-100 {
    height: 100%;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    outline: none;
    border: none;
}

.btn:disabled {
    filter: opacity(50%);
}

.btn.btn-primary {
    background-color: rgb(0, 110, 255);
    color: white;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    gap: 1rem;
}

.flex-grow-1 {
    flex-grow: 1;
}

.mt-2 {
    margin-top: 1rem;
}
.mb-2 {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

.form-control {
    border-radius: .5rem;
    outline: none;
    border: 1px solid #a4a4a4;
    display: block;
    padding: .5rem 1rem;
}

textarea.form-control {
    resize: none;
    height: 100px;
    padding: 1rem;
}

.input-valid {
    border: 1px solid green;
}

.input-invalid {
    border: 1px solid red;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;

}